html, body {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1em;
}
#audio-holder {
	position: fixed;
	bottom: 0px;
	right: 0;
	z-index: 999;
}
a {
	color: #ccc;
}
a:active, a:hover {
	color: #fff;
}
body > header {
	position: fixed;
	background: #000;
	width: 100%;
	z-index: 9999;
	top: 0;
	padding: 0 1em;
}
body > header a {
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
}
body > header img {
	float: left;
	margin-right: 2em;
}

article > header {
	display: none;
}

.js nav.nav-collapse {
	overflow: inherit;
}

.nav-toggle {
	width: 70px;
	height: 55px;
	float: right;
	text-indent: -9999px;
	background: transparent url(../html5/hamburger.png) no-repeat 50% 50%;
}

ul.nav {
	margin: 0 1em;
	list-style: none;
	z-index: 9999;
}
ul.nav li {
	width: auto !important;
	float: left;
	margin: 1.5em;
	font-size: 0.7em;
	font-weight: bold;
}

/* styles that apply over 640px */
@media (max-width: 40em) {
	ul.nav li {
		width: 100% !important;
	}
}


.text-center,
h1, h2, h3 {
	text-align: center;
}

article {
	height: 100%;
	margin: 0;
	padding: 0;
}

section:after {
	content: "";
	clear: left;
	display: block;
}

.ScrollSceneIndicators {
	z-index: 1000 !important;
}

img.res {
	display: block;
	width: 100%;
}

.video,
.atmos video {
	width: 100%;
}
.video,
.touch video {
	height: 100%;
}
.video video {
	width: 100%;
	max-width: 920px;
}

.panel p,
.panel h2,
.panel h3,
.panel h4 {
	padding-left: 1em;
	padding-right: 1em;
}


.panel {
	color: #ccc;
	background-size: cover;
	position: relative;
	overflow: hidden;
/*
	border: 1px solid red;
	box-sizing:border-box;
*/
}

.panel.dark-1 {
	background-image: url(../img/bg/background-dark-1.jpg);
	text-shadow: 1px 1px 2px #000;
}

.panel.dark-2 {
	background-image: url(../img/bg/background-dark-2.jpg);
	text-shadow: 1px 1px 2px #000;
}

.panel.dark-3 {
	background-image: url(../img/bg/background-dark-3.jpg);
	text-shadow: 1px 1px 2px #000;
}

.panel.light {
	background-image: url(../img/bg/background-light.jpg);
	color: #333;
	/* text-shadow: 1px 1px 1px #999; */
}

.dark-text {
	color: #333;
}

#credits {
}

ul.credits {
	padding: 0;
	margin: 0 auto;
	max-width: 18em;
	list-style: none;
}
ul.credits li {
	margin: 0;
	padding: 0;
	text-align: center;
}
.memorial ul {
	padding: 0;
	margin: 0 auto;
	max-width: 25em;
	list-style: none;
}
.memorial li {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: center;
}
.memorial li a {
	text-shadow: 1px 1px 2px #000;
	text-decoration: none;
}
.memorial li a:hover {
	text-decoration: underline;
}
.memorial h4 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 2em;
}

blockquote {
	font-style: italic; 
}

dl {
	margin: 1em 0;
	padding: 0 1em;
}
dt, dd {
	margin: 1em 0;
}

/* styles that apply over 640px */
@media (min-width: 40em) {
	
}

/* styles that apply under 480px */
@media (max-width: 480px) {
	.subject br,
	.text-center br,
	.caption br {
		display: none;
	}
	.portrait .portrait-image,
	.portrait .subject {
		text-align: center;
	}
}

/* styles that apply over 480px */
@media (min-width: 480px) {

	.panel .page,
	.panel .caption,
	.panel .text {
		line-height: 1.5em;
		margin: 0 auto;
	}

	/*
	.sketch {position: relative;}

	.panel .caption {
		bottom: 10%;
	}
	.panel .caption.left {
		left: 30%;
	}
	.panel .caption.top {
		top: 10%;
		bottom: initial;
	}
	
	.panel .text-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.panel .text-wrapper:first-child {
		padding-top: 6em;
	}
	.panel .text-wrapper:last-child {
		padding-bottom: 6em;
	}

	.enhanced .text-wrapper,
	.panel .atmos + .text-wrapper,
	.panel .image + .text-wrapper {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.enhanced.mask .text-wrapper,
	.panel.mask .atmos + .text-wrapper,
	.panel.mask .image + .text-wrapper {
		background-image: url(../img/text-bg-mask.png);
		background-repeat: repeat-x;
		background-size: cover;
	}

	.enhanced.mask .text-wrapper {
		position: fixed !important;
	}
	
	.enhanced .text,
	.panel .atmos + .text-wrapper .text,
	.panel .image + .text-wrapper .text {
		top: 40%;
	}
	
	.enhanced .text.top,
	.panel .atmos + .text-wrapper .text.top,
	.panel .image + .text-wrapper .text.top {
		top: 25%;
	}

	.enhanced .text.memorial {
		top: 0;
	}

	.enhanced .text.bottom,
	.panel .atmos + .text-wrapper .text.bottom,
	.panel .image + .text-wrapper .text.bottom {
		bottom: 20%;
		top: initial;
	}

	.panel .caption,
	.enhanced .text,
	.panel .atmos + .text-wrapper .text,
	.panel .image + .text-wrapper .text {
		position: absolute;
		max-width: 480px;
		margin-left: -240px;
		left: 50%;
	}

	.subject {
		text-indent: -9999em;
	}
	*/

	.trial {
		width: 100%;
		height: 100%;
	}

	.trial .text {
		top: 5%;
	}

	.trial dt {
		margin: 0.618em 0;
		width: 48%;
		float: left;
		clear: left;
	}
	.trial dd {
		margin: 0.618em 0;
		width: 48%;
		float: left;
		margin-left: 4%;
	}
	
}

/* styles that apply under 768px */
@media (max-width: 768px) {
	.panel .atmos + .text-wrapper .text,
	.panel .image + .text-wrapper .text {
		top: 10%;
	}
}

/* styles that apply over 768px */
@media (min-width: 769px) {

	.panel .caption {
		bottom: 10%;
	}
	.panel .caption.left {
		left: 30%;
	}
	.panel .caption.top {
		top: 10%;
		bottom: initial;
	}
	
	.panel .text-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}
/* 
	.panel .text-wrapper:first-child {
		padding-top: 6em;
	}
	.panel .text-wrapper:last-child {
		padding-bottom: 6em;
	}
 */

	/* sits top left of parent panel */
	.panel .atmos + .text-wrapper,
	.panel .image + .text-wrapper {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.sequence .panel .caption,
	.enhanced .text,
	.panel .atmos + .text-wrapper .text,
	.panel .image + .text-wrapper .text {
		position: absolute;
		left: 50%;
		margin-left: -360px;
		max-width: 740px;
		width: 100%;
	}
	
	.panel .page {
		max-width: 740px;
		padding-top: 50px;
	}

	.sequence .caption.right-center,
	.sequence .caption.left-center {
	}

	.sequence .caption.right-center {
	}
	.sequence .caption.left-center {
	}

	.panel.enhanced {
		width: 100%;
		height: 100%;
		position: fixed;
	}
	
	.enhanced .text.memorial {
		top: 0;
	}

	/* these fill horizontally and have height, top set on resize by js */
	.enhanced .text-wrapper,
	.enhanced .image,
	.enhanced .atmos {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		padding: initial;
	}

	.enhanced .text,
	.panel .atmos + .text-wrapper .text,
	.panel .image + .text-wrapper .text {
		top: 40%;
	}
	
	.enhanced .text.top,
	.panel .atmos + .text-wrapper .text.top,
	.panel .image + .text-wrapper .text.top {
		top: 25%;
	}

	.enhanced .text.bottom,
	.panel .atmos + .text-wrapper .text.bottom,
	.panel .image + .text-wrapper .text.bottom {
		bottom: 20%;
		top: initial;
	}

	.enhanced.mask .text-wrapper,
	.panel.mask .atmos + .text-wrapper,
	.panel.mask .image + .text-wrapper {
		background-image: url(../img/text-bg-mask.png);
		background-repeat: repeat-x;
		background-size: cover;
	}

	.enhanced.mask .text-wrapper {
		position: fixed !important;
	}
	
	dt span, dd span {
		display: none;
	}

}

.replaced {
	position: absolute;
	margin: 0 auto;
	width: 100%;
}

.replaced.top {
	top: 0%;
}

/* captions */
.panel > .replaced.top {
	top: 15%;
}

.replaced.right {
	right: 0%;
}

.replaced.bottom {
	bottom: 10%;
}

.replaced.left {
	left: 10%;
}

.replaced.floor {
	bottom: 0%;
}

.center {
	margin: 0 auto;
}

#repl-title-section-1 {
	max-width: 575px;
	left: 50%;
	margin-left: -287px;
	margin-top: -13px;
}

#repl-title-section-1-credit {
	max-width: 165px;
	left: 50%;
	margin-left: -82px;
}

#repl-norman-quote {
	max-width: 387px;
}

#repl-roma-quote1 {
	max-width: 278px;
}

#repl-map-aus-merapas-text {
	max-width: 414px;
}

#repl-map-aus-merapas-text-launch {
	max-width: 414px;
}

#repl-position-merapas {
	max-width: 372px;
}

#repl-diary-timelapse {
	/* max-width: 920px; */
}

#repl-diary-inhabited {
	/* max-width: 920; */
}

#repl-diary-merapas {
	/* max-width: 920px; */
}

#repl-diary-nojunk {
	/* max-width: 920px; */
}

#repl-diary-jungle {
	/* max-width: 920px; */
}

#repl-mustika-loading-text {
	max-width: 567px;
	left: 50%;
	margin-left: -283px;
}

#repl-title-section-3 {
	max-width: 458px;
}

#repl-title-section-4 {
	max-width: 458px;
}

#repl-roma-quote2 {
	max-width: 305px;
}
